<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container> -->

  <agm-map [usePanning]="true" [latitude]="lat" [longitude]="lng" [zoom]="12" [disableDefaultUI]="false" (mapClick)="mapClicked($event)">
    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]=true></agm-marker>
  </agm-map>

  <ion-grid class="status-grid">
    <ion-row>
      <ion-col *ngIf="showingCurrent">
        Showing Current Location
      </ion-col>
      <ion-col *ngIf="!showingCurrent">
        Showing Geocoded Location
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-button color="success" (click)="setCurrentPosition()" expand="full" class="ion-margin">Show My Location
  </ion-button>

  <ion-item>
    <ion-label position="stacked">Enter Address to Geocode</ion-label>
    <ion-input type="text" [(ngModel)]="address" name="address"></ion-input>
  </ion-item>
  <ion-row class="ion-padding-horizontal ion-padding-top" *ngIf="!showingCurrent">
    <ion-text class="coords">My Latitude : {{lat}}</ion-text>
  </ion-row>
  <ion-row class="ion-padding-horizontal" *ngIf="!showingCurrent">
    <ion-text class="coords">My Longitude : {{lng}}</ion-text>
  </ion-row>
  <ion-button color="success" (click)="geocode()" expand="full" class="ion-margin">
    Geocode Address</ion-button>
    
</ion-content>
