<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Geolocation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div class="svg-border-rounded text-white">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 144.54 17.34" preserveAspectRatio="none" fill="currentColor"><path d="M144.54,17.34H0V0H144.54ZM0,0S32.36,17.34,72.27,17.34,144.54,0,144.54,0"></path></svg>
  </div> -->
  
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container> -->

  <ion-card class="welcome-card">

    <ion-card-header>
      <ion-card-subtitle>Get coordinates</ion-card-subtitle>
      <ion-card-title>Geolocation</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Click to get your device's location in Latitude and Longitude. Allow the app the required permissions once
        asked.</p>
      <ion-row *ngIf="coords && coords.latitude">
        <ion-text class="coords">My Latitude : {{coords.latitude}}</ion-text>
      </ion-row>
      <ion-row *ngIf="coords && coords.longitude">
        <ion-text class="coords">My Longitude : {{coords.longitude}}</ion-text>
      </ion-row>
      <ion-button (click)="locate()" expand="full">Locate Me</ion-button>

    </ion-card-content>
  </ion-card>

  <ion-card class="welcome-card">

    <ion-card-header>
      <ion-card-subtitle>Get Address</ion-card-subtitle>
      <ion-card-title>Reverse Geocoding</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Convert your current location into address</p>
      <ion-row *ngIf="address">
        <ion-text class="coords">My Address : {{address.subLocality ? address.subLocality +', ' : ''}}
          {{address.locality ? address.locality +', ' : ''}}{{address.administrativeArea ? address.administrativeArea +', ' : ''}}
          {{address.postalCode ? address.postalCode +', ' : ''}}{{address.countryName ? address.countryName : ''}}
        </ion-text>
      </ion-row>
      <ion-button (click)="reverseGeocode()" expand="full">Get My Address</ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>
